@use "./mixins";

.section{
    position: fixed;
    top:0;
    z-index: 1;
    width: 95%;
    color:white;
    font-size: 2rem;


    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link{
    color:white;
    text-decoration: none;
}

.list{
    padding:0;
    position: absolute;
    right: 0;
    top: 40px;

    list-style-type: none;

    transition: all 1s ease-out;
    @include mixins.border();
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:1.4rem;

    &_open{
        right:-350px;
    }
}

.projects{
    @include mixins.border();
    cursor: pointer;
}